body {
    background-color: $body-color;
    height: 100vh;
    // overflow: hidden;

    display: flex;
    flex-direction: column;

}

#site-header {
    .container {
        height: 100%;
    }
}

#site-content {
    flex-grow: 1;
    height: 81vh;

    .site-content-container {
        padding: 20px 0;
    }

    .container {
        height: 100%;
    }
}

@import './viewStyles/header/header.scss';
@import './viewStyles/footer/footer.scss';
@import './viewStyles/sidebar/sidebar.scss';

@import './viewStyles/riskView.scss';
@import './viewStyles/instrumentsView.scss';
@import './viewStyles/marketExposureView.scss';
