body {
    background-color: $body-color;
    display: flex;
    flex-direction: column;

    height: 100vh;
}

#site-content {
    flex-grow: 1;
    padding: 20px 0;
}

@import './viewStyles/header.scss';
@import './viewStyles/footer.scss';