$body-color: #e7e7e7;
$header-footer-color: #283545;
$header-nav-links-color: #ffffff;



/*
COLORS:
Header - #101418 (lighter blue)
First section - #101418 (darker blue)
Lightest blue backgrounds - #F6F7F8
White color backgrounds - #FFFFFF
Buttons - #F4AD04
Light blue links - #ABC0E3
Green color (profit) - #0d791f
Red Color (loss) - #ce161a
Blue color (links) - #0000D7
Row Shading - #ededed

FONTS:
font-family: Open Sans,Arial,Helvetica,Verdana,sans-serif;

BOX SHADOW:
box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%)

*/