#site-header {
    background-color: $header-footer-color;
    height: 11vh;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        height: 100%;

        img {
            max-height: 70px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-grow: 2;

            list-style: none;
            margin-bottom: 0;

            li {
                a {
                    text-decoration: none;
                    color: $header-nav-links-color;
                    font-size: 1.5rem;

                    &.active {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    margin-left: 100px;

                    a {
                        font-size: 1.1rem;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
