.sidebar-menu {
    background-color: $header-footer-color;
    box-shadow: $articles-shadow;
    width: 40px;
    transition: all 1s;

    position: absolute;
    height: 81vh;

    nav {
        height: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        li {
            a {
                color: $header-nav-links-color;
                text-decoration: none;
                font-size: 1.5rem;
                span {

                    margin-left: 10px;
                    opacity: 0;
                }
            }
        }
    }
}