.sidebar-menu {
    background-color: $header-footer-color;
    box-shadow: $articles-shadow;
    width: 40px;
    transition: all 1s;

    position: absolute;
    height: 81vh;

    nav {
        height: 100%;

        ul.primary-list {
            list-style-type: none;
            padding: 0.5rem;
            height: 100%;

            position: absolute;

            display: flex;
            flex-direction: column;
            justify-content: start;
            flex-wrap: nowrap;

            

            li {
                a {
                    color: $header-nav-links-color;
                    text-decoration: none;
                    font-size: 1.5rem;
                    span {
                        margin-left: 10px;
                        opacity: 0;
                        display: none;
                        
                        &.active {
                            display: inline-block;
                        }
                    }
                }

                ul {
                    list-style: none;
                }
            }
        }
    }
}
